.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 60px;
    font-size: 24px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #1F2937;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

img {
    width: 180px;
    height: 180px;
}

button {
    background-color: #3882F6;
    padding: 5px;
    color: white;
}

.title {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    gap: 50px;
    margin-bottom: 50px;
}

.text {
    text-align: center;
}

.fruit {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15%;
}

.info {
    max-width: 200px;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 36px;
    flex-direction: column;
    font-style: italic;
}

.thor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 100px ;
    background-color: #E5E7EB;
    font-size: 25px;
    font-weight: 900;
}
